// Hero and Content before Store
.parallax {
    // Image for effect
    background-image: url(../assets/eyebrushes.jpg);

    height: 70vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .info {
        position: absolute;
        right: 10%;
        top: 50%;
        text-align: right;

        display: flex;
        flex-direction: column;


        button {
            align-self: flex-end;
            background: $text;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 1.6px;
            padding: 0.8em;
            margin-top: 1em;
        }
    }
}


.promo-background {
    background-image: url(/assets/pink-compact-2.jpg);
    height: 60vh;

    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}