// Navigation
nav,
.nav-menu {
    display: flex;
    align-items: center;
}

nav {
    height: 10vh;
    justify-content: space-between;
    padding: 1em;

    .nav-menu li:first-of-type {
        margin-right: 20px;
    }

    .nav-menu li:hover {
        border-bottom: 1px solid $text;
    }

    .logo {
        @include font-size(30);
        letter-spacing: 4px;
    }

    span {
        @include font-size(27);
        cursor: pointer;
        padding: 0.5em 0.65em 0.5em 0.5em;  
    }

    h3 {
        color: $white;
    }
}

