@import 'setup';
@import 'variables';
@import 'navigation';
@import 'main';
@import 'store';
@import 'footer';





// Default Styling & Stripping
html {
    font-size: 62.5%;
}

body { 
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: $body-font;
}
  
img {
    width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
a,
p,
ul,
li,
div,
section,
input,
button,
form {
    margin: 0;
    padding: 0;
    border: none;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: $text;
}


.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;

}
   

// Typography
h1,
nav a,
nav p {
    font-family: $header-font;
    text-transform: uppercase;
}

h1 {
    letter-spacing: 3px;

}


.spacer {
    height: 10vh;
}

// Media Queries
